/*CSS  MAP*/

/*1. Common Css*/
/*2. Navbar*/
/*3. Slider Section*/
/*4. About Section*/

/*1. Common Css*/
html, body {
  width: 100%;
  overflow-x: hidden;
  color: #505763;
}

.bold {
  font-weight: bold;
}

.btnMain {
  background: #00a3c8;
    border: #00a3c8;
    border-radius: 0;
    padding: 10px 37px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.btnMain:hover, .btnMain:active, .btnMain:focus {
    color: #fff;
     background: #00a3c8 !important;
    border: #00a3c8;
}

.btnTransparent {
  background: transparent;
  border: 1px solid #fff;
    padding: 5px 37px;
    /*text-transform: uppercase;*/
    font-weight: 500;
    color: #fff;
}

.btnTransparent:hover, .btnTransparent:active, .btnTransparent:focus {
    color: #fff;
     background: transparent;
    border: 1px solid #fff;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.hr__Title {
    width: 28px;
    border: 1px solid #00a3c8;
    display: inline-block;
    margin: 4px;
}

.title {
    color: #00a3c8;
    padding: 0px 20px;
    font-size: 22px;
    font-weight: 500;
}

.subtitle {
  font-weight: bold;
  text-transform: uppercase;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
}

/*2. Navbar*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  border-bottom: 1px solid rgba(255,255,255,0.3);
    /*padding: 15px 115px;*/
    background: #fff;
    z-index: 99;
}

.navbar-brand img {
  width: 150px;
}

.navbar-light .navbar-nav .nav-link { 
  color: #505763;
    /*text-transform: uppercase;*/
    font-weight: 500;
    padding: 0px;
    margin: 0px 10px
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #00a3c8;
  border-bottom: 2px solid #00a3c8;
}

 .navbar-light .navbar-nav .nav-link:hover {
  color: #00a3c8;
}

/*3. Slider Section*/
#slider {
  height: 100vh;
  min-height: 500px;
  background-image: url('../images/slider/slide-7.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(255,255,255,0.8);
}

.inner-text {
  padding: 0px 10px;
}

.inner-text .status {
  color: #00a3c8
}

.inner-text h1 {
  color: #004861;
    font-weight: bold;
    text-transform: uppercase;
}

.inner-text .short_info {
  color: #505763;
}

.inner-text h1 span {
  color: #00a3c8;
}


/*2. dentistry section*/
#dentistry {
  padding: 50px 0;
}

#dentistry .card-header {
  padding: 0px;
  border-bottom: none !important;
}

#dentistry .card-header img {
  width: 100%;
}

#dentistry .card {
  margin-bottom: 10px;
}

#dentistry .card-body {
  text-align: justify;
  padding: 5px;
}


/*2. smiles section*/
#smiles {
  padding: 50px 0;
  background: #f7f7f7;
}

#smiles .card {
  margin-bottom: 20px;
}

#smiles .card-title {
  margin-top: 15px;
}

#smiles .card-body {
  text-align: justify;
  padding: 20px;
}

#smiles img {
  width: 70px;
}

/*6. numbers*/
#numbers {
  background: url(../images/statistic.jpg) no-repeat center fixed;
    color: #fff;
    padding: 20px 0px;
}

.numbers {
    color: #ff3926;
    font-size: 30px;
    font-weight: bold;
}

#numbers h3 {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}

#numbers p {
  font-size: 18px;
}

[class*=" flaticon-"]:after, [class*=" flaticon-"]:before, [class^=flaticon-]:after, [class^=flaticon-]:before {
  margin-left: 0 !important;
  font-size: 65px !important;
}


/*4. specialists section*/
#specialists {
  padding: 50px 0;
}

#specialists .card {
  margin-bottom: 10px;
}

#specialists .card-header {
  padding: 0px;
  border-bottom: none !important;
}

#specialists .card-header img {
  width: 100%;
}

#specialists .card-body {
  text-align: justify;
  padding: 8px;
}

#specialists .name {
  color: #004861;
  font-size: 23px;
  margin-bottom: 0;
}

#specialists .position {
  color: #00a3c8;
  font-size: 16px;
}

/*11. contact section*/


#contact {
  background: url(../images/banner-2.jpg) no-repeat center fixed;
    color: #fff;
    padding: 20px 0px;
}

#contact img {
  width: 100%;  
}

#contact .personal__info .list-group-item {
    padding: 8px 0px;
    font-size: 15px;
    border-bottom: none;
}

#contact .form-control {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}



/*9. testimonial section*/
#testimonial {
  padding: 20px 0;
}

#testimonial .personal__info {
  padding-top: 0px;
}

#testimonial img {
  width: 100px;
  height: 100px;
  display: inline-block;
}


#testimonial .card {
    margin: 0px 10px;
 
}

#testimonial .card-title {
    font-weight: normal;
    font-size: 19px;
    color: rgba(0,0,0,0.7);
 
}

#testimonial .card-body {
    padding: 30px;
}

#testimonial .item {
  padding-top: 50px;
}


/*12. footer*/
footer {
   padding: 25px 0;
  background: url(../images/footer-bg.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
}

footer img {
  width: 150px;
}

footer .phone {
  color: #00a3c8;
}

footer .list-group-item {
    padding: 0px;
     padding-bottom: 2px;
  background: transparent;
    font-size: 15px;
    border: none;
}
    
.socialList {
  margin-top: 10px;
}

.socialList i {
      border: 1px solid;
    font-size: 18px;
    cursor: pointer;
    padding: 4px;
    width: 33px;
    text-align: center;
    border-radius: 9px;
}

.socialList i:hover {
  color: #00a3c8;
}

/*3. About Page Slider*/
#slider_title {
  height: 23vh;
  margin-top: 65px !important;
  background-image: url('../images/breadcrumb.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #004861;
}

#slider_title h3 {
  padding: 45px;
}

/*2. about section*/
#about {
  padding: 30px 0;
}

#about .status {
  color: #00a3c8
}

#about h2 {
  color: #004861;
    font-weight: bold;
    text-transform: uppercase;
}

#about p {
  font-size: 18px;
}

/*2. certified section*/
#certified {
  padding-top: 50px;
}

/*2. certificates section*/
#certificates {
  padding-top: 50px;
}

#certificates .thumbImg {
    padding: 0px 10px;
    width: 130px;
}

#certificates .name {
   font-size: 20px;
    color: #004861;
    font-weight: bold;
}

#certificates .phone {
   font-weight: bold;
    color: #00a3c8;
}

#certificates .working_time {
    color: #fff;
    background: #00a3c8;
    margin: 10px 0px;
        padding: 20px;
    border-radius: 10px;
}

#certificates .working_time p {
    font-size: 16px;
    line-height: 1.4;
}

#certificates ul {
    margin-bottom: 20px;
}

#certificates .list-group-item {
    background: transparent;
    border: none;
    border-bottom: 1px dashed;
    padding: 12px 0px;
}

#certificates .certificate {

}

/*modal*/
.close {
  position: absolute;
  right: -25px;
  top: 0;
  font-size: 30px;
}
